@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;500;700&display=swap');

:root {
  --bg-color:#212529;
  --main-color: #49A0EB;
  --second-color: #E359A4;
}

body {
  background-color: var(--bg-color);
  color: var(--second-color);
  font-family: 'IBM Plex Mono', monospace;
  padding: 0;
  margin: 0;
}

h1 {
  color: var(--second-color);
}

header h1 {
  color: var(--main-color);
  font-size: 3em;;
  font-weight: 800;
}

header p {
  line-height: 1.5em;
}

header {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  padding-top: 5em;
}

.intro-box {
  background-color: var(--main-color);
  display: flex;
  justify-content: flex-end;
}

.intro-box img {
  height: 260px;
}

.bio {
  padding-left: 3em;
}